$textColor: rgb(190,216,212);
$linkColor: rgb(50,170,160);
$bgColor: rgb(240,248,250);
$bgActiveLinkColor: rgb(210,240,235);
$bgLightColor: rgb(255,255,255);
$bgDarkColor: rgb(230,230,230);

$pageWidth: 1100px;
$contentWidth: 896px;

body {
    font-family: 'PT Serif', serif;
    text-align: center;
    margin-top: 30px;
}

a {
    color: $linkColor;
    &:hover {
        color: $linkColor;
    }
}

button {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: silver gray gray silver;
    background: linear-gradient(0deg, $bgDarkColor, $bgLightColor);
}

.page {
    width: $pageWidth;
    text-align: center;
    display: inline-block;
}

.fs-navbar {
    display: inline-block;
    width: 170px;
    padding-right: 30px;
    vertical-align: top;
    text-align: center;
    background-color: transparent;
    border-width: 0px;
}

.fs-navbar-header {
    text-align: center;
}

.fs-logo {
    height: 120px;
    width: 120px;
    background: transparent url('../images/food-sense.png') no-repeat left top;
    margin-bottom: 30px;
}

.fs-navbar-links {
    text-align: left;
    margin-bottom: 50px;
}

.fs-navbar-nav {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin-bottom: 50px;
    padding-left: 0px;
    li {
        list-style: inside;
        list-style-type: none;
        cursor: pointer;
        a {
            display: table-cell;
            vertical-align: top;
        }
    }
}

.fs-nav-link-text {
    padding: 6px 0px 6px 0px;
    color: $linkColor;
    font-size: 1.1em;
    font-style: italic;
}

.fs-nav-link {
    width: 40px;
    height: 50px;
    background-attachment: scroll;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent;
}

.fs-nav-link.tastemakers {
    background-image: url('../images/icon-tastemakers-32.png');
}

.fs-nav-link.blog {
    background-image: url('../images/icon-blog-32.png');
}

.fs-nav-link.a-list {
    background-image: url('../images/icon-alist-32.png');
}

.fs-nav-link.contribute {
    background-image: url('../images/icon-contribute-32.png');
}

.fs-nav-link.about {
    background-image: url('../images/icon-about-32.png');
}

.social-bar {
    section {
        text-align: left;
        margin-bottom: 30px;
    }

    header {
        text-transform: uppercase;
        padding-bottom: 2px;
        border-bottom: 1px dashed $bgDarkColor;
        margin-bottom: 7px;
        font-size: 0.9em;
    }

	article {
        font-style: italic;
        padding-bottom: 15px;
        font-size: 0.85em;
    
        &.cool-link {
            padding: 3px 3px 3px 3px;
            border: 1px solid $bgDarkColor;
            border-radius: 4px;
            
            a {
                font-size: 0.9em;
                vertical-align: middle;
                
                &.image {
                    display: inline-block;
                    width: 25px;
                    height: 18px;
                    background-color: transparent;
                    background-attachment: scroll;
                    background-repeat: no-repeat;
                    background-position: -5px 1px;
                    background-size: 32px 48px;
                    opacity: 0.5;
                    filter: opacity(0.5) hue-rotate(145deg);
                    -webkit-opacity: 0.5;
                }
            }
        }
    }
}

.content {
    display: inline-block;
    width: $contentWidth;
    text-align: left;
}

.splash {
    position: relative;
}

.splash-image {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.splash-photo {
    position: relative;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background: transparent url('../images/0140_foodsense.jpg') scroll no-repeat left top;
    height: 444px;
    width: $contentWidth;
}

.splash-title {
    position: absolute;
    bottom: 110px;
    right: 0px;
    background-color: $bgLightColor;
    padding: 10px 20px;
    font-style: italic;
    color: black;
    font-size: 1.5em;
}

.splash-subtitle {
    position: absolute;
    bottom: 70px;
    right: 0px;
    background-color: black;
    padding: 10px 20px;
    font-style: italic;
    color: white;
    font-size: 1.2em;
}

.splash-photo-credits {
    font-size: 0.6em;
    color: black;
    background-color: $bgDarkColor;
    filter: opacity(0.7);
    padding: 2px 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.splash-nav {
    width: 100%;
    margin-bottom: 30px;

    ul {
        display: table;
        width: 100%;
        border-collapse: collapse;
        -webkit-padding-start: 0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -moz-column-gap: 0px;
    }


    li {
        cursor: pointer;
        display: table-cell;
        list-style: inside;
        list-style-type: none;
        width: 25%;
        font-size: 1.1em;
        text-align: left;
        padding: 20px;
        background-color: $bgColor;
        border-left: 1px solid $bgLightColor;
        border-right: 1px solid $bgDarkColor;
        color: $linkColor;
    
        &:last-child {
            border-right: 0px;
            border-bottom-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
        }

        &:first-child {
            border-left: 0px;
            border-bottom-left-radius: 4px;
            -webkit-border-bottom-left-radius: 4px;
        }

	    &.active, &:hover {
            background-color: $bgActiveLinkColor;
        }
    }

    .splash-nav-link-comment {
        display: block;
        font-size: 0.8em;
        font-style: italic;
    }
}

.subscribe {
    display: table;
    padding: 10px 15px 10px 15px;
    border-style: dashed;
    border-color: $bgDarkColor;
    border-width: 1px 0px 1px 0px;
    margin-bottom: 30px;

    .sign-up {
        display: table-cell;
        width: 60%;
        text-align: left;
        padding-left: 45px;
        padding-right: 20px;
        background: transparent url('../images/icon-mailinglist-32.png') no-repeat scroll left 5px;
        font-size: 0.9em;
        font-style: italic;
    }

	.input {
        display: table-cell;
        width: 40%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: bold;
        white-space: nowrap;
    }

	.e-mail {
        width: 70%;
        margin-right: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: gray silver #e0e0e0 silver;
    }

	.subscribe-btn {
        padding:2px 10px;
        font-size: 0.9em;
    }
}

.recipe {
    display: inline-block;
    width: 25%;
    padding: 10px;
    vertical-align: top;

    h1 {
        font-size: 1.1em;
        color: $linkColor;
        font-weight: bold;
    }

    p {
        font-size: 1em;
        overflow: auto;
    }
}

.recipe-image {
    border: 1px solid $bgDarkColor;
    padding: 10px;
    text-align: center;

    img {
        height: 118px;
        width: 177px;
    }
}

.recipe-date {
    color: gray;
    font-size: 1em;
}

.recipe-read-link {
    color: $linkColor;
    font-size: 1em;
    border-bottom: 1px dashed $bgDarkColor;
    cursor: pointer;

    &:hover {
        border-bottom: 1px dashed;
        text-decoration: none;
    }

    .chevron {
        font-size: 0.6em;
        vertical-align: middle;
    }
}

.social-icon {
    display: inline-block;
    overflow: hidden;
    height: 35px;
    width: 35px;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -15 0;
    background-repeat: no-repeat;
    filter: opacity(0.5);
    opacity: 0.5;
    -webkit-opacity: 0.5;
}

.img-twitter {
    background-image: url('../images/icon-twitter.png');
}

.img-facebook {
    background-image: url('../images/icon-facebook.png');
}

.img-rss {
    background-image: url('../images/icon-rss.png');
}

.footer {
    height: 80px;

    .left {
        font-size: 0.9em;
        float: left;
        color: lightgrey;
        text-align: left;
    
        a {
            padding: 3px;
            color: $linkColor;
            
            &:first-child {
                padding-left: 0px;
            }
        }
    }

	.right {
        float: right;
    }
}

@media (max-width:479px) {
    .page {
        width: 320px;
    }
    .fs-navbar {
        display: block;
        width: 320px;
        padding: 0px;
        height: 170px;
        margin-bottom: 20px;
        text-align: center;
    }
    .fs-navbar-header {
        display: inline-block;
        width: 120px;
        height: 120px;
        top: 45px;
        left: 0px;
        position: relative;
        text-align: center;
    }
    .fs-navbar-links {
        display: inline-block;
        width: 100%;
        margin: 0px;
        padding: 0px 0px 20px 0px;
        top: -140px;
        left: 0px;
        position: relative;
        border-bottom: 1px solid $bgDarkColor;
        text-align: center;
    }
    .fs-navbar-nav {
        display: inline;
        text-align: center;
    
        li {
            display: inline;
            padding: 0px 0px;
            text-align: center;
        
            a {
                display: inline;
            }
        }
    }
    .fs-nav-link-text {
        white-space: nowrap;
        font-size: 0.9em;
        padding-left: 6px;
        padding-right: 6px;
    }
    .fs-nav-link {
        display: none;
        background-image: none;
    }
    .fs-nav-link.tastemakers, .fs-nav-link.blog, .fs-nav-link.a-list, .fs-nav-link.contribute, .fs-nav-link.about {
        display: none;
        background-image: none;
    }
    .social-bar {
        display: none;
    }
    .content {
        display: inline-block;
        width: 320px;
    }
    .splash-photo {
        width: 320px;
        height: 248px;
        background-size: 480px 248px;
        background-position: -78px top;
    }
    .splash-title {
        left: 0px;
        bottom: 68px;
        padding: 10px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1.1em;
    }
    .splash-subtitle {
        position: relative;
        bottom: auto;
        right: auto;
        padding: 10px 10px;
        font-size: 0.85em;
    }
    .splash-photo-credits {
        position: relative;
        background-color: transparent;
        padding: 10px;
        right: auto;
        bottom: auto;
        text-align: right;
        
        &::before {
            content: " * ";
        }
    }
    .splash-nav {
        display: none;
    }
    .subscribe {
        .sign-up {
            display: block;
            width: auto;
            margin-bottom: 10px;
            padding-right: 5px;
            font-size: 0.83em;
            background-position: left top;
        }
    	.input {
            display: block;
            width: auto;
        }
    	.e-mail {
            display: inline-block;
            width: 150px;
            margin-right: 15px;
        }
    }
    .recipe {
        width: 100%;
    }
    .recipe-image {
        padding: 10px;
    
        img {
            height: 172px;
            width: 258px;
        }
    }
    .footer .left {
        font-size: 0.8em;
    }
}

@media (max-width:709px) and (min-width:480px) {
    .page {
        width: 480px;
    }
    .fs-navbar {
        display: block;
        width: 480px;
        padding-right: 0px;
        height: 120px;
        margin-bottom: 30px;
    }
    .fs-navbar-header {
        display: inline-block;
        width: 120px;
        height: 120px;
        vertical-align: top;
    }
    .fs-navbar-links {
        display: inline-block;
        padding-top: 30px;
    }
    .fs-navbar-nav {
        display: inline;
    
        li {
            display: table-cell;
            padding: 12px 7px;
        }
    }
    .fs-nav-link-text {
        white-space: nowrap;
        font-size: 0.9em;
    }
    .fs-nav-link {
        display: none;
        background-image: none;
    }
    .fs-nav-link.tastemakers, .fs-nav-link.blog, .fs-nav-link.a-list, .fs-nav-link.contribute, .fs-nav-link.about {
        display: none;
        background-image: none;
    }
    .social-bar {
        display: none;
    }
    .content {
        display: inline-block;
        width: 480px;
    }
    .splash-photo {
        width: 480px;
        height: 248px;
        background-size: 480px 248px;
        background-position: center top;
    }
    .splash-title {
        left: 0px;
        bottom: 71px;
        padding: 10px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1.1em;
    }
    .splash-subtitle {
        position: relative;
        bottom: auto;
        right: auto;
        padding: 10px 10px;
        font-size: 1em;
    }
    .splash-photo-credits {
        position: relative;
        background-color: transparent;
        padding: 10px;
        right: auto;
        bottom: auto;
        text-align: right;
    }
    .splash-photo-credits::before {
        content: " * ";
    }
    .splash-nav {
        display: none;
    }
    .subscribe {
        .sign-up {
            display: block;
            width: auto;
            margin-bottom: 10px;
            background-position: left top;
        }
    	.input {
            display: block;
            width: auto;
        }
    	.e-mail {
            display: inline-block;
            width: 300px;
            margin-right: 15px;
        }
    }
    .recipe {
        width: 50%;
    }
    .recipe-image img {
        height: 132px;
        width: 194px;
    }
}

@media (max-width: 1099px) and (min-width: 710px) {
    .page {
        width: 710px;
    }
    .fs-navbar {
        display: block;
        width: 710px;
        padding-right: 0px;
        height: 120px;
        margin-bottom: 30px;
        text-align: left;
    }
    .fs-navbar-header {
        display: inline-block;
        width: 120px;
        height: 120px;
        vertical-align: top;
    }
    .fs-navbar-links {
        display: inline-block;
        width: 585px;
        padding-top: 30px;
        padding-left: 150px;
    }
    .fs-navbar-nav {
        display: inline;
    
        li {
            display: table-cell;
            padding: 0px 15px;
        
            a {
                display: block;
            }
        }
    }
    .fs-nav-link-text {
        white-space: nowrap;
    }
    .fs-nav-link {
        height: 32px;
        width: auto;
        background-position: center top;
    }
    .social-bar {
        display: none;
    }
    .content {
        display: inline-block;
        width: 710px;
    }
    .splash-photo {
        width: 710px;
        background-position: -98px top;
    }
    .splash-nav li {
        text-align: center;
        padding: 10px;
    }
    .splash-nav .splash-nav-link-comment {
        display: none;
    }
    .subscribe {
        .sign-up {
            vertical-align: top;
            background-position: left top;
        }
    	.input {
            padding-top: 5px;
        }
    	.e-mail {
            width: 57%;
            margin-right: 15px;
        }
    }
    .recipe-image img {
        height: 93px;
        width: 139px;
    }
}